.nav-bar{
    width: 100%;
    height: 0;
    animation: display-nav-bar 0.6s 0.2s ease-out forwards;
}


.nav-bar .logo img{
    opacity: 0;
    animation: display-logo 0.4s 1s ease-out forwards;
}


.nav-bar ul li{
    opacity: 0;
}

.nav-bar ul li:nth-child(1){
    animation: display-nav-list-item 0.3s 1.0s ease-out forwards;
}

.nav-bar ul li:nth-child(2){
    animation: display-nav-list-item 0.3s 1.2s ease-out forwards;
}

.nav-bar ul li:nth-child(3){
    animation: display-nav-list-item 0.3s 1.4s ease-out forwards;
}

.nav-bar ul li:nth-child(4){
    animation: display-nav-list-item 0.3s 1.6s ease-out forwards;
}

.nav-bar ul li:nth-child(5){
    animation: display-nav-list-item 0.3s 1.8s ease-out forwards;
}


.home-slider{
    width: 100%;
    height: 650px;
    margin-top: 78px;
    position: relative;
    overflow: hidden;
    background: rgb(0, 0, 0);
    box-shadow: 0 2px 10px rgba(35, 35, 35, 0.671);
    animation: fade-in 1s ease-out forwards, zoom-out 2.5s ease-out forwards;
}

.slider-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes zoom-out {
    from {
      transform: scale(1.2);
    }
    to {
      transform: scale(1);
    }
  }

.slider-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
 
.slider-wrapper img.active {
    opacity: 0.8;
}




.slider-controls {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    opacity: 0;
    animation: fade-in-title 1s 2s ease-out forwards;
}

.slider-controls img{
    width: 30px;
}
  
.prev-slide,
.next-slide {
    background: transparent;
    box-shadow: none;
    border: none;
    cursor: pointer;
}
.prev-slide:hover,
.next-slide:hover {
    background: transparent;
    box-shadow: none;
    border: none;
    cursor: pointer;
}
  
.slider-dots {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.slider-dot {
    width: 12px;
    height: 12px;
    border-radius: 50px;
    border: white solid 1px;
    margin: 0 8px;
    cursor: pointer;
}
  
.slider-dot.active {
    background-color: rgba(255, 255, 255, 0.555);
}

.slider-container{
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    align-items: center;
    justify-items: center;
    color: white;
}

#slider-image{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    object-fit: cover;
    opacity: 0.8;
    display: grid;
    align-items: center;
    animation: fadeIn 0.8s;
}

.home-title{
    width: 60%;
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.801);
    opacity: 0; 
    animation: fade-in-title 1s 1s ease-out forwards; 
}
.home-title .hero_logo{
    width: 150px;
}
.home-title #hero_title{
    color: white;
}

.home-title h1{
    font-size: 50px;
    line-height: 55px;
    color: white;
}

.top-news{
    padding: 20px;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.518);
}

.home-title .top-news h1{
    margin: 0;
    color: yellow;
}

@keyframes fade-in-title {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
@keyframes fade-in-background {
    from {
        background: rgba(0, 0, 0, 0);
    }
    to {
        background: rgba(0, 0, 0, 0.772);
    }
}

/* ------------------------------------------------------ */

section{
    width: 100%;
    height: fit-content;
    position: relative;
}

/* ---------------------------- */
.section-special-news h1::after{
    content: '';
    position: absolute;
    border-bottom: var(--primary-color) solid 4px;
    left: 30%;
    right: 30%;
    top: 110px;
}
.news-list{
    width: 100%;
}
.news-card{
    position: relative;
    width: 250px;
    height: fit-content;
    border-radius: 12px;
    padding: 10px;
    margin: 15px 10px 15px 10px;
    background: white;
    box-shadow: 0 0 10px var(--shadow-color);
    transition: all 0.2s ease-in-out;
}
.news-card h2{
    margin-top: 5px;
    margin-bottom: 0;
}
.news-card .news-img{
    width: 100%;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
}

.news-card .news-description{
    font-size: 16px;
}

.news-card:hover{
    transform: scale(1.02);
}
/* --------------------------------- */
.section-special-events h1::after{
    content: '';
    position: absolute;
    border-bottom: var(--primary-color) solid 4px;
    left: 30%;
    right: 30%;
    top: 110px;
}
.event-gallery-item{
    width: 360px;
    margin: 5px;
    box-shadow: 0 0 10px var(--shadow-color);
    transition: all 0.2s ease-in-out;
}
.event-gallery-item img{
    width: 350px;
    height: 250px;
    margin: 5px 5px 0 5px;
    object-fit: cover;
}
.event-gallery-item:hover{
    transform: scale(1.02);
}
/* ----------------------------- */


.section-achievements h1::after{
    content: '';
    position: absolute;
    border-bottom: var(--primary-color) solid 4px;
    left: 30%;
    right: 30%;
    top: 110px;
}
.achievements-item{
    width: 255px;
    height: fit-content;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--shadow-color);
    transition: all 0.2s ease-in-out;
    text-align: center;
}

.achievements-item:hover{
    transform: scale(1.02);
}

.achievements-item img{
    width: 90%;
    height: 150px;
    border-radius: 8px;
    object-fit: cover;
}

.achievements-item h2{
    margin: 8px 0 0 0;
}
.achievements-item p{
    margin: 0;
}