.nav-bar{
    width: 100%;
    height: 0;
    animation: display-nav-bar 0.6s 0.2s ease-out forwards;
}


.nav-bar .logo img{
    opacity: 0;
    animation: display-logo 0.4s 1s ease-out forwards;
}


.nav-bar ul li{
    opacity: 0;
}

.nav-bar ul li:nth-child(1){
    animation: display-nav-list-item 0.3s 1.0s ease-out forwards;
}

.nav-bar ul li:nth-child(2){
    animation: display-nav-list-item 0.3s 1.2s ease-out forwards;
}

.nav-bar ul li:nth-child(3){
    animation: display-nav-list-item 0.3s 1.4s ease-out forwards;
}

.nav-bar ul li:nth-child(4){
    animation: display-nav-list-item 0.3s 1.6s ease-out forwards;
}

.nav-bar ul li:nth-child(5){
    animation: display-nav-list-item 0.3s 1.8s ease-out forwards;
}


.home-slider{
    width: 100%;
    height: 650px;
    margin-top: 78px;
    position: relative;
    overflow: hidden;
    background: rgb(0, 0, 0);
    box-shadow: 0 2px 10px rgba(35, 35, 35, 0.671);
    animation: fade-in 1s ease-out forwards, zoom-out 2.5s ease-out forwards;
}

.slider-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes zoom-out {
    from {
      transform: scale(1.2);
    }
    to {
      transform: scale(1);
    }
  }

.slider-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
 
.slider-wrapper img.active {
    opacity: 0.7;
}




.slider-controls {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    opacity: 0;
    animation: fade-in-title 1s 2s ease-out forwards;
}

.slider-controls img{
    width: 30px;
}
  
.prev-slide,
.next-slide {
    background: transparent;
    box-shadow: none;
    border: none;
    cursor: pointer;
}
.prev-slide:hover,
.next-slide:hover {
    background: transparent;
    box-shadow: none;
    border: none;
    cursor: pointer;
}
  
.slider-dots {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.slider-dot {
    width: 20px;
    height: 6px;
    border: white solid 1px;
    margin: 0 8px;
    cursor: pointer;
}
  
.slider-dot.active {
    background-color: rgba(255, 255, 255, 0.555);
}

.slider-container{
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    align-items: center;
    justify-items: center;
    color: white;
}

#slider-image{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    object-fit: cover;
    opacity: 0.8;
    display: grid;
    align-items: center;
    animation: fadeIn 0.8s;
}

.home-title{
    width: 620px;
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.612);
    opacity: 0; 
    animation: fade-in-title 1s 1s ease-out forwards; 
}

.home-title h1{
    font-size: 150px;
    margin: 0;
    line-height: 130px;
    color: white;
}
.home-title h1:nth-child(1){
    text-align: left;
}
.home-title h1:nth-child(2){
    text-align: right;
}


@keyframes fade-in-title {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
@keyframes fade-in-background {
    from {
        background: rgba(0, 0, 0, 0);
    }
    to {
        background: rgba(0, 0, 0, 0.772);
    }
}




.home-title h1:nth-child(1)::after,.home-title h1:nth-child(2)::after{
    content: '';
    position: absolute;
}

.home-title h1:nth-child(1)::after{
    border-bottom: 3px solid white;
    left: -600px;
    right: 1200px;
    bottom: 198px;
    animation: line-animation-left-right 0.4s 1.5s ease-out forwards;
}
.home-title h1:nth-child(2)::after{
    border-bottom: 3px solid white;
    left: 1200px;
    right: -600px;
    bottom: 65px;
    animation: line-animation-right-left 0.4s 1.5s ease-out forwards;
}


@keyframes line-animation-right-left {
    from {
        left: 1200;
    }
    to {
        left: 220px;
    }
}
@keyframes line-animation-left-right {
    from {
        right: 1200px;
    }
    to {
        right: 250px;
    }
}

/* ------------------------------------------------------ */

section{
    width: 100%;
    height: fit-content;
    position: relative;
}

/* ---------------------------- */
.we-are-description{
    width: 50%;
    padding: 10px 50px 10px 10px;
}

.about-img{
    width:40%;
    margin-top: 20px;
}

.we-are-description h1{
    margin-bottom: 0;
}
.we-are-description h1::after{
    content: '';
    position: absolute;
    border-bottom: var(--primary-color) solid 3px;
    left: -200px;
    right: 70%;
    top: 150px;
}

.we-are-description p{
    padding-bottom: 20px;
}
.we-are-description p span{
    font-size: 30px;
}

/* --------------------------------- */
.sections-services{
    text-align: center;
}

.sections-services h1{
    margin-bottom: 0;
}

.sections-services h1::after{
    content: '';
    position: absolute;
    border-bottom: var(--primary-color) solid 3px;
    left: 30%;
    right: -12.5%;
    top: 125px;
}

.services{
    width: 70%;
    gap: 30px 50px;
    margin-top: 50px;
    margin-bottom: 80px;
}

.service-card{
    width: 200px;
    height: 220px;
    padding: 10px;
    display: flex;
    border-radius: 25px;
    background: white;
    box-shadow: 0 0 12px rgba(26, 26, 26, 0.247);
    transition: all 0.2s ease-in-out;
}

.service-card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 12px rgba(26, 26, 26, 0.167);
}

.card-container{
    width: 88%;
    height: 86%;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
    border: var(--primary-color) solid 4px;
    transition: all 0.2s ease-in-out;
}
.card-container:hover{
    border: rgb(2, 2, 214) solid 4px;
}

.card-container img{
    width: 65%;
}
.card-container h3{
    font-family: "Manrope";
    font-weight: bold;
    margin-bottom: 0;
}
/* ----------------------------- */

.section-latest-projects{
    position: relative;

}

.section-latest-projects h1::after{
    content: '';
    position: absolute;
    border-bottom: var(--primary-color) solid 3px;
    left: 20%;
    right: 20%;
    top: 135px;
}

.section-latest-projects .projects-link{
    position: relative;
    color: black;
    text-decoration: none;
    transition: all 0.1s ease-in;
}
.section-latest-projects .projects-link:hover{
    transform: scale(1.02);
}

.section-latest-projects .projects-link::after{
    content: '';
    position: absolute;
    border-radius: 5px;
    border-bottom: blue solid 5px;
    left: 0px;
    right: 80px;
    bottom: -5px;
    transition: all 0.15s ease-in;
}
.section-latest-projects .projects-link:hover::after{
    right: 0px;
}

/* +-----------------------------------+ */

.section-testimonials{
    width: 100%;
    position: relative;
}

.section-testimonials h1::after{
    content: '';
    position: absolute;
    border-bottom: var(--primary-color) solid 3px;
    left: -200px;
    right: 25%;
    top: 140px;
}


.card-slider{
    width: 750px;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.slider-nav-buttons{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 .prv-card, .nxt-card{
    width: 40px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    box-shadow: none;
    z-index: 2;
}

.prv-card:hover, .nxt-card:hover{
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.slider-nav-buttons button img{
    width: 40px;
}

.review-list{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.card-list-dots{
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.card-dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
    border:black solid 2px;
    background: #0f0f0f00;
}

.active-dot{
    background: blue;
}

.review-card{
    width: 600px;
    height: 300px;
    border-radius: 15px;
    position: absolute;
    background: white;
    text-align: right;
    box-shadow: 1px 1px 12px var(--shadow-color);
    transition: all 0.3s ease-in-out;
}

.review-card:nth-child(1){
    transform: translateX(0px);
}
.review-card:nth-child(2){
    transform: translateX(700px);
}
.review-card:nth-child(3){
    transform: translateX(800px);
}

.review-card h2{
    font-family: "Manrope",sans-serif;
    font-size: 28px;
    color: var(--primary-color);
    margin: 0;
    margin-top: 10px;
    margin-right: 30px;
}
.review-card h2::after{
    content: '';
    position: absolute;
    border-bottom: var(--primary-color) solid 3.5px;
    left: 200px;
    right: 10px;
    top: 50px;
}


.review-card p{
    width: 50%;
    height: 100px;
    font-size: 15px;
    font-style: italic;
    margin-left: auto;
    margin-right: 55px;
    color: var(--primary-color);
}

.reviewer{
    width: 300px;
    height: 80px;
    margin-left: 30px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
}

#reviewer-img{
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 10px;
    border: var(--primary-color) solid 2px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.293);
    top: -100px;
    object-fit: cover;
}
.reviewer-info{
    margin: 50px 0 0 10px ;
}
.reviewer-info h3{
    margin: 0;
    margin-left:15px;
    text-align: left;
    font-size: 17px;
}

.reviewer-info #reviewer-name{
    color: var(--primary-color);
}

.reviewer::before,.reviewer::after{
    content: '';
    position: absolute;
}

.reviewer::after{
    border-bottom: var(--primary-color) solid 2px;
    left:20px;
    right: 40px;
    bottom: 15px;
}

#reviewer-posision{
    color:  var(--primary-color);
    font-weight: 500;
}

.review-card .quot-66, .quot-99{
    position: absolute;
}
.review-card .quot-66{
    width: 25px;
    left: 200px;
    top: 10px;
}

.review-card .quot-99{
    width: 50px;
    right: 20px;
    bottom: 40px;
}