/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}
/* ----------------------------------------------- */


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}
/* ----------------------------------------------- */


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    /* ****** Navigation bar ****** */

    .nav-bar{
        height: 120px;
    }

    @keyframes display-nav-bar {
        from{
            height: 0px;
        }
        to{
            height: 120px;
        }
    }

    .nav-bar ul{
        display: block;
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 62px;
        right: -100%;
        z-index: 1;
        padding: 5px;
        background: #01051ced;
        text-align: center;
        transition: all .3s;
    }

    .nav-bar ul li{
        width: 30%;
        display: block;
        margin: 50px auto 0 auto;
        line-height: 10px;
    }
    .nav-bar ul li a{
        font-size: 22px;
        font-weight: bold;
    }

    
    .menu-btn{
        display:flex;
        margin-top: 40px;
    }

    /* ------------------------ */

    /* ****** Footer ****** */

    footer .footer-elements{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer .footer-elements .contact{
        order: 2;
        width: 80%;
    }

    footer .footer-elements .contact h2{
        width: 100%;
        text-align: center;
    }
    
    footer .footer-elements .contact ul li{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
        text-align: center;
    }
    footer .footer-elements .contact ul li:first-child p{
        padding: 0;
    }
    footer .footer-elements .contact ul li b{
        display: none;
    }

    footer .footer-elements .contact ul li h3{
        margin: 15px 0 0 0;
    }

    footer .footer-elements .contact ul li p{
        margin: 0;
        padding: 0;
    }


    footer .footer-elements .logo-title{
        order: 1;
        width: 80%;
        margin-top: 30px;
    }
    footer .footer-elements .social-link{
        order: 3;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer .footer-elements .social-link h2{
        width: 100%;
        float: right;
        margin-bottom: 0;
        text-align: center;
        border-bottom: white solid 3px;
    }

    footer .footer-elements .social-link .links{
       padding-left: 0;
    }
    /* ------------------------ */


    /* Home slider */
    .home-title{
            width: 300px;
    }
    
    .col-mobile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h1{
        font-size: 30px;
    }

    /* ---------------- */



    /* +++++++++Home page++++++++++++++ */
    .home-title h1{
        font-size: 40px;
    }

    .slider-controls {
        right: 10px; 
    }
    .top-news{
        padding: 10px;
        border-radius: 8px;
        background: rgba(0, 0, 0, 0.518);
    }

    .home-title .top-news h1{
       font-size: 30px;
    }

    .section-special-news h1::after{
        top: 70px;
    }

    .section-special-events h1::after{
        top: 70px;
    }

    .section-achievements h1::after{
        top: 70px;
    }
    /* +++++++++End of Home page++++++++++++++ */


    /* +++++++++About page++++++++++++++ */
    .section-about-school h1{
        text-align: center;
    }

    .principal-notice .col{
        width: 90%;
        margin-right: 0;
    }
    .principal-notice .col h3{
        width: 200px;
    }

    .section-about-school .row .col{
        width: 60%;
    }
    /* +++++++++End of About page++++++++++++++ */

    
    /* +++++++++News page++++++++++++++ */

    /* +++++++++End of News page++++++++++++++ */


}
/* ----------------------------------------------- */

