/* ****** Variables ****** */
:root{
    --background-color:white;
    --primary-color:#2d68f1;
    --secondary-color:#ffffff;
    --ternary-color:#0099ff;
    --shadow-color:rgba(55, 55, 55, 0.333);
}
/* ----------------------- */

/* *********** Font families *********** */
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;1,600&display=swap');

/* ---------------------------------- */


html{
    scroll-behavior: smooth;
    /* font-family: 'Manrope'; */
}
body{
    background: var(--background-color);
    margin: 0;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

h1,h2,h3,h4{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    /* color: var(--primary-color); */
}

p{
    font-size: 18px;
    font-weight: normal;
}

a{
    text-decoration: none;
}

::-webkit-scrollbar{
    width: 10px;

}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 10px black;
}

::-webkit-scrollbar-thumb{
    width: 10px;
    border-radius: 3px;
    background-color: var(--ternary-color);
}

/* ****** Navigation bar ****** */
.nav-bar{
    z-index: 999;
    width: 100%;
    height: 80px;
    padding-left: 20px;
    top: 0;
    left: 0;
    display: flex;
    position: fixed;
    justify-content: space-between;
    background: var(--ternary-color);
    box-shadow: 0px 1px 10px var(--shadow-color);
}


.nav-bar a{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: var(--secondary-color);
}

.nav-bar .logo {
  align-items: center;
}
.nav-bar .logo a{
    margin-right: 10px;
    text-align: center;
    display: flex;
}

.nav-bar .logo p{
    font-size: 20px;
    color: white;
}


.nav-bar .logo img{
    width: 60px;
}

.nav-bar ul{
    display: flex;
    align-items: center;
    list-style-type:none;
    padding-left: 10px;
    padding-right: 70px;
    letter-spacing: 1px;
}

.nav-bar ul li{
    text-align: center;
    display: inline-block;
    margin-right: 15px;
}


.nav-bar ul li a{
    width: 100%;
    height: 30px;
    display: inline-block;
    position: relative;
}

.nav-bar ul li a::after{
    width: 0;
    height: 3px;
    left: 0;
    bottom: 0;
    position: absolute;
    content: "";
    background-color: white;
    transition: 0.25s;
}

.nav-bar ul li a:hover::after{
    width: 100%;
}

.nav-bar ul .current-page-nav a::after{
    width: 100%;
    height: 3px;
    left: 0;
    bottom: 0;
    position: absolute;
    content: "";
    background-color: white;
    transition: 0.25s;
}

.menu-btn{
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    cursor: pointer;
    float: right;
    margin-right: 40px;
    margin-top: 20px;
    transition: all .3s ease-in-out;
}
.menu-btn_burger{
    width: 30px;
    height: 4px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .3s ease-in-out;
}
.menu-btn_burger::before,
.menu-btn_burger::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .3s ease-in-out;
}
.menu-btn_burger::before{
    transform: translateY(-12px);
}
.menu-btn_burger::after{
    transform: translateY(12px);
}
/*ANIMATION*/
.menu-btn.open .menu-btn_burger{
    transform: translateX(-50px);
    background-color: transparent;
    box-shadow: none;
}
.menu-btn.open .menu-btn_burger::before{
    transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn_burger::after{
    transform: rotate(-45deg) translate(35px, 35px);
}



    /* Back to top scroll button */
#scroll_progress{
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 50px;
    right: 30px;
    z-index: 3;
    border-radius: 50%;
    cursor: pointer;
    display: grid;
    visibility: hidden;
    opacity: 0;
    place-items: center;
    transition: all 200ms ease;
    box-shadow: 0 0 5px var(--shadow-color);
}

#scroll_progress img{
    position: absolute;
    background: white;
    border-radius: 50%;
    width: 33px;
    height: 33px; 
    left: 4px;
    top: 3.7px;
}
    /* ++++++++++++++++++++++++++++ */
/* ------------------------------------------------- */


/* *********** Footer *********** */
footer{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    bottom: 0;
    background: var(--ternary-color);
    color: white;
    box-shadow: 0 -1px 15px var(--shadow-color);
}


footer .footer-elements{
    width: 92%;
    height: 80%;
    margin-bottom: 10px;
    display: inline-flex;
    justify-content: space-evenly;
}

footer .developer{
    width: 100%;
    border-top: white solid 0.5px;
}

footer .developer p{
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}
footer .developer p a{
    font-weight: 600;
    color: white;
}

footer .footer-elements .contact{
    width: 30%;
    height: 70%;
    margin-top: 30px;
}
footer .footer-elements .contact h2{
    width: 60%;
    margin-bottom: 0;
    border-bottom: white solid 3px;
}

footer .footer-elements .contact ul{
    padding-left: 0px;
    margin-top: 0;
}
footer .footer-elements .contact ul li{
    display: flex;
    align-items: center;
    height: 50px;
}
footer .footer-elements .contact ul li h3{
    font-weight: bold;
    font-size: 15px;
    width: 80px;
}
footer .footer-elements .contact ul li p{
    padding-left: 5px;
}

footer .footer-elements .contact ul li:first-child p{
    padding-top: 25px;
}

footer .footer-elements .logo-title{
    width: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer .footer-elements .logo-title .logo{
    width: 80px;
    margin: 0;
}

footer .footer-elements .logo-title h2{
    margin-top: 0;
    margin-bottom: 0;
}
footer .footer-elements .logo-title p{
    font-size: 15px;
}
footer .footer-elements .social-link{
    width: 30%;
    height: 70%;
    margin-top: 30px;
    text-align: right;
    align-items: flex-end
}
footer .footer-elements .social-link h2{
    width: 60%;
    float: right;
    margin-bottom: 0;
    text-align: right;
    border-bottom: white solid 3px;
}
footer .footer-elements .social-link .links{
    margin-top: 15px;
    height: 50px;
    list-style-type: none;
    display: inline-flex;
    align-items: center;
}

footer .footer-elements .social-link .links li, li a{
    width: 45px;
    height: 45px;
    margin-left: 5px;
    display: block;
}

footer .footer-elements .social-link .links .facebook{
    width: 45px;
    height: 45px;
    background:  url(../assets/images/icons/social_media_icons.png) -10px -61.5px;
}

footer .footer-elements .social-link .links .facebook:hover{
    width: 45px;
    height: 45px;
    background: url(../assets/images/icons/social_media_icons.png) -10px -10px;
    animation: fadeIn 0.3s;
}

footer .footer-elements .social-link .links .instagram{
    width: 45px;
    height: 45px;
    background:  url(../assets/images/icons/social_media_icons.png) 213px -61.5px;
}

footer .footer-elements .social-link .links .instagram:hover{
    width: 45px;
    height: 45px;
    background: url(../assets/images/icons/social_media_icons.png) 213px -10px;
    animation: fadeIn 0.3s;
}

footer .footer-elements .social-link .links .twitter{
    width: 45px;
    height: 45px;
    background:  url(../assets/images/icons/social_media_icons.png) 160px -61.5px;
}

footer .footer-elements .social-link .links .twitter:hover{
    width: 45px;
    height: 45px;
    background: url(../assets/images/icons/social_media_icons.png) 160px -10px;
    animation: fadeIn 0.3s;
}

footer .footer-elements .social-link .links .linkedin{
    width: 45px;
    height: 45px;
    background:  url(../assets/images/icons/social_media_icons.png) 108px -61.5px;
}

footer .footer-elements .social-link .links .linkedin:hover{
    width: 45px;
    height: 45px;
    background: url(../assets/images/icons/social_media_icons.png) 108px -10px;
    animation: fadeIn 0.3s;
}
footer .footer-elements .social-link .links .youtube{
    width: 45px;
    height: 45px;
    background:  url(../assets/images/icons/social_media_icons.png) 56px -61.5px;
}

footer .footer-elements .social-link .links .youtube:hover{
    width: 45px;
    height: 45px;
    background: url(../assets/images/icons/social_media_icons.png) 56px -10px;
    animation: fadeIn 0.3s;
}
/* ------------------------------------------------------------------------ */


/* ------ Components ----- */

section h1{
    color: var(--primary-color);
}



button{
    width: fit-content;
    height: 40px;
    padding: 8px 25px 8px 25px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: white;
    background: var(--primary-color) ;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.404);
    transition: all 0.3s ease-in-out;
}
button:hover{
    background: white ;
    color: var(--primary-color);
    transform: scale(1.01);
}


/* ------ ********** ----- */


.page-section{
    position: relative;
    transform: translateY(200px);
    opacity: 0;
    visibility: hidden;
    transition: all 1s ease;
}

.active{
    transform: translateY(0px);
    visibility: visible;
    opacity: 1;
}


.blueprint{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    object-fit: cover;
    opacity: 0.9;
    animation: blueprint-fadeIn 1s;
}

@keyframes blueprint-fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 0.05;
    }
}
.container{
    width: 80%;
    margin: 0px auto 0 auto;
    position: relative;
    padding-bottom: 70px;
}

.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
}

.grid{
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
}
.wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

